.App {
    font-family: "Necto Mono", monospace; /*Police de base des textes du site*/
}

.video-container {
    width: auto;
}

.video-container video {
    position: absolute;
    /* Centre la vidéo et la recale en haut à gauche du contenant avec le translate */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    /* La vidéo sera ajustée pour remplir la div */
    object-fit: cover;
}

body {
    font-size: 16px; /* Taille de la police de base */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.bandeau {
    display: flex;
    justify-content: space-between; /*Crée l'espace entre la div gauche et la div droite séparant le bouton YNG SHOP du menu de droite*/
    align-items: center; /*Aligne verticalement le texte dans le bandeau*/

    background-color: #F8F8F8;
    width: auto;
    height: 50px;
    font-family: "Necto Mono", monospace;
}

.bandeau button {
    padding: 0;
    border: none;
    background: none;
}

.left {
    margin-left: 20px;
}

/* .left::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #000;
    margin-bottom: 4px;
    margin-left: 10px;
} */

.right {
    margin-right: 20px;
}

.section {
    display: flex;
    padding-block: 20px;
    padding-inline: 20px;
}

.title {
    align-self: center;
    color: rgb(10, 10, 10);
    font-size: 30px;
}
/* .item-container {display:none;} */
.item {
    height: 80%;
    border: 1px solid black; /* Border around the container */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.item-image {
    width: 60%; /* Width of the image container */
    height: 50%; /* Height of the image container */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 20px 0; /* Margin around the image for spacing */
}

.basket-image {
    width: 10%; /* Width of the image container */
    height: 6%; /* Height of the image container */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 20px 0; /* Margin around the image for spacing */
}

/* .item-image::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #000;
} */

.item-description {
    flex-grow: 1;
    text-align: justify;
}

/* .item-description p {
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
} */

.item-button {
    width: 150px; /* Width of the price box */
    height: 50px; /* Height of the price box */
    border: 1px solid black; /* Border around the price */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 20px; /* Font size for the price */
    margin-bottom: 20px; /* Margin at the bottom */

    border: 1px solid #bc2efe;
}

.item-button:hover{
    background-color: #bc2efe;
    cursor: grab;
}