.App {
    font-family: "Necto Mono", monospace; /*Police de base des textes du site*/
}

.video-container {
    width: auto;
}

.video-container video {
    position: absolute;
    /* Centre la vidéo et la recale en haut à gauche du contenant avec le translate */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    /* La vidéo sera ajustée pour remplir la div */
    object-fit: cover;
}

@keyframes fade-in {

    0% {
    opacity: 0%;
    }

    100% {
    opacity: 100%;
    }
}

body {
    animation-name: fade-in; /*Fait apparaître la page en fade-in en 4 secondes*/
    animation-duration: 4s;
    font-size: 16px; /* Taille de la police de base */
    margin-left: 15px; /*Marges de base de tout les éléments du site*/
    margin-right: 15px;
    margin-top: 15px;
}

.bandeau {
    display: flex;
    justify-content: space-between; /*Crée l'espace entre la div gauche et la div droite séparant le bouton YNG SHOP du menu de droite*/
    align-items: center; /*Aligne verticalement le texte dans le bandeau*/

    background-color: #F8F8F8;
    width: auto;
    height: 50px;
    font-family: "Necto Mono", monospace;
}

.bandeau button {
    padding: 0;
    border: none;
    background: none;
}

.left {
    margin-left: 20px;
}

.left::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #000;
    margin-bottom: 4px;
    margin-left: 10px;
}

.right {
    margin-right: 20px;
}

.section {
    display: flex;
}

    .section-image {
        padding-block: 50px;
        padding-inline: 50px;
    }

    .section-title {
        align-self: center;
        color: rgb(10, 10, 10);
        font-size: 30px;
    }

.item-container {
    display: flex;
    height: 50vh; /*Prends 50% de la hauteur du viewport*/
    margin-top: 50px; /*Centre l'image au centre de la page*/
    margin-left: 35%; /*Centre l'image au centre de la page*/
}

    .item-image {
        height: 100%; /*Prends toute la hauteur du container item*/
        width: auto; /*Permet de garder les bonnes proportions de l'image*/
    }

    .item-information {
        position: relative; /*Chaque élément enfant sera positionné relativement au dernier élément de item-container (donc l'img)*/
    }

        @keyframes ligne-reveal {

            0% {
            width: 0px;
            content: ""; /* Contenu vide car on veut juste une ligne */
            height: 1px; /* Épaisseur de la ligne */
            background-color: #000; /* Couleur de la ligne */
            }
        
            100% {
            width: 400px;
            content: ""; /* Contenu vide car on veut juste une ligne */
            height: 1px; /* Épaisseur de la ligne */
            background-color: #000; /* Couleur de la ligne */
            }
        
        }

        .ligne {
            animation-name: ligne-reveal;
            animation-duration: 3s;
            animation-delay: 2s;            
        }

        .item-description {
            color: black;
            width: 400px;
        }

        .item-description p {
            margin-top: 10px;
            margin-left: 10px;
        }

        .item-button {
            position: absolute;
            font-family: "Necto Mono", monospace;
            color: #bc2efe;
            margin-top: 10px;
            margin-left: 10px;
            width: 150px; /* Width of the price box */
            height: 50px; /* Height of the price box */
            bottom: 0;
            border: 1px solid black; /* Border around the price */
            justify-content: center; /* Center text horizontally */
            align-items: center; /* Center text vertically */
            font-size: 20px; /* Font size for the price */
            border: 1px solid #bc2efe;
            background-color: #ffffff;
        }

        .item-button:hover{
            color: #ffffff;
            background-color: #bc2efe;
            cursor: grab;
        }

.basket-image {
    width: 10%; /* Width of the image container */
    height: 6%; /* Height of the image container */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 20px 0; /* Margin around the image for spacing */
}
