apiVersion: v1
kind: Pod
metadata:
  name: inspector
spec:
  containers:
  - image: busybox
    name: inspector
    command: ["tail"]
    args: ["-f", "/dev/null"]
    volumeMounts:
    - mountPath: /pvc
      name: pvc-mount
  volumes:
  - name: pvc-mount
    persistentVolumeClaim:
      claimName: cassandra-pv-claim