.App {
  font-family: "Necto Mono", monospace; /*Police de base des textes du site*/
}

.video-container {
  width: auto;
}

.video-container video {
  position: absolute;
  /* Centre la vidéo et la recale en haut à gauche du contenant avec le translate */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  /* La vidéo sera ajustée pour remplir la div */
  object-fit: cover;
}

body {
  font-size: 16px; /* Taille de la police de base */
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.custom-bandeau {
  display: flex;
  justify-content: space-between; /*Crée l'espace entre la div gauche et la div droite séparant le bouton YNG SHOP du menu de droite*/
  align-items: center; /*Aligne verticalement le texte dans le bandeau*/
  
  /*Dans "sub-menu", Display:Inline-Block prend le dessus sur la verticalité

  text-align: center; /*Centre les textes qui seront présents dans le bandeau*/
  background-color: #F8F8F8;
  width: auto;
  height: 50px;
  font-family: "Necto Mono", monospace;
}

.bandeau_gauche {
  padding-left: 20px;
}

.bandeau_gauche::after {
  content: ""; /* Contenu vide car on veut juste une ligne */
  display: inline-block;
  width: 20px; /* Largeur de la ligne */
  height: 1px; /* Épaisseur de la ligne */
  background-color: #000; /* Couleur de la ligne */
  margin-bottom: 4px;
  margin-left: 10px;
}

.bandeau_droite {
  margin-right: 20px;
}

.sub-menu {
  display: inline-block;
}

.sub-menu:first-child {

}

.custom-section-container {
  display: flex;
}

.custom-section-image {
  padding-block: 20px;
  padding-inline: 20px;
}

.custom-section-title {
  align-self: center;
}

.custom-section-title p {
  color: rgb(10, 10, 10);
  font-size: 30px;
}

.custom-content-container {
  display: flex;
  justify-content: center;
  height: 650px;
}

.custom-content-image {
  display: flex;
  align-self: center;
  position: relative;
}

.custom-content-image::after {
  position: absolute;
  content: ""; /* Contenu vide car on veut juste une ligne */
  display: inline-block;
  width: 420px; /* Largeur de la ligne */
  height: 1px; /* Épaisseur de la ligne */
  background-color: #000; /* Couleur de la ligne */
  margin-left: 265px;
}

.custom-content-description {
  position: absolute;
  left: 275px;
  color: black;
  width: 400px;
}

.custom-content-description p {
  margin-top: 10px;
  margin-bottom: 50px;
  position: relative;
}

.custom-content-prix {
  position: absolute;
  width: 150px;
  height: 50px;
  align-content: center;
  text-align: center;

  border: 1px solid #bc2efe;
}

.custom-content-prix p {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-content-prix:hover{
  background-color: #bc2efe;
  cursor: grab;
}